{% extends 'page2.html' %}
{% load static %}

{% block head_additional %}
    <script src="{% static 'customjs/ajaxtest.js'%}"></script>
{% endblock %}
{% block header%}
    <div style="text-align: center;">
        <input id="searchbox" type="text" placeholder="Search..">
        <br><br>
        <p id='info'>Hasil tidak ditemukan</p>
    </div>
{% endblock %}
{% block page_content %}
    <table id='bookself' class="table table-striped">
        <thead>
            <tr>
                <th>Gambar</th> <th>Judul</th> <th>Penulis</th> <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
{% endblock %}