{% extends 'page2.html' %}
{% load static %}

{% block header %}
<div class="col-xs-1 text-center">
    <a href="{% url 'activity:activityform' %}"><button class = 'btn btn-info'>Add Activity</button></a>
</div>
{% endblock %}

{% block page_content %}

{% for activity in activities %}
<div class="py-5" >
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>{{activity.activity_name}}</h3>
                    </div>
                    <div class="card-body">
                    {% if activity.activitymembers.all %}
                    <h4 class="h-modification">Peserta</h4>
                    {% for member in activity.activitymembers.all %}
                        <p>{{member.name.name}}
                        <a class="btn-danger"href="{% url 'activity:deletemember' activity_name=activity.activity_name member_name=member.name.name %}">
                            kick 
                        </a>
                        </p>
                    {% endfor %}
                    {% endif %}
                    {% if activity.description != '' %}
                        <h4 class="h-modification">Deskripsi</h4>
                        <p>{{activity.description}}</p>
                    {% endif %}
                    <a href="{% url 'activity:memberform' activity_name=activity.activity_name %}"><button class = 'btn btn-warning'>
                        Add Member
                    </button></a>
                    <br><br>
                    <a href="{% url 'activity:deleteactivity' activity_name=activity.activity_name %}"><button class="btn btn-danger">
                        Hapus
                    </button></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}