{% extends 'page.html' %}
{% load static %}
{% block page_content %}

<div style="display: block;">
    <a href="{% url 'activity:home'%}"><button class="btn btn-success">
        Back
    </button></a>
    <br><br>
    <form action={{action}} method="POST">
        {% csrf_token %}
        {{ input_form.as_p }}
        <input type="submit" value="Submit" class="btn btn-warning">
    </form>
    {% if message != '' %}
    <br>
    {{message}}
    {% endif %}
</div>
{% endblock %}