@font-face {
    font-family: Fun Font;
    src: url(PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto B;
    src: url(Roboto-Bold.ttf);
}  

body{
    background-image: url(background.jpg);
    background-position:  50% 20%;
    background-blend-mode: multiply;
}

.navbar{
    font-family: Fun Font;
    background-color: white;
}

.navbar .web-title{
    color: black;
}

.page-background{
    overflow: hidden;
}

.overlay-item{
    background-color: rgba(255, 255, 255, 0.7);
}

.overlay-item2{
    background-color:  rgba(255, 205, 27, 0.8);
}

h3{
    color: #B3CC57;
}

h4{
    color: #FAB400;
}

.h-modification{
    color: #FFBE40;
}

.secondary-heading{
    color: #FA5A00;
}

p{
    font-family: Roboto B;
    color : #6A5D3B;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

#accordion{
    width: 75vw;
}

.accordion-content{
    display: none;
}

.accordion-header{
    flex-grow: 1;
}

.dropdown{
    margin-right: 0.125em;
    margin-left: 0.125em;
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    background-color: #ffc107;
}

a:link {
    color: #ffc107;
}

a:hover{
    color: #916c00;
}

a:visited{
    color: #916c00;
}

.userinfo{
    background-color: transparent;
}

@media screen and (max-width: 992px) {
    .dropdown{
        margin-top: 0.125em;
        margin-bottom: 0.125em;
    }

    #accordion{
        width: 90vw;
    }
}