@font-face {
    font-family: Fun Font;
    src: url(PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto B;
    src: url(Roboto-Bold.ttf);
}  

body{
    background-image: url(background.jpg);
    background-position:  50% 20%;
    background-blend-mode: multiply;
}

.navbar{
    font-family: Fun Font;
    background-color: white;
}

.navbar .web-title{
    color: black;
}

.page-background{
    overflow: hidden;
}

.overlay-item{
    background-color: rgba(255, 255, 255, 0.7);
}

.overlay-item2{
    background-color:  rgba(255, 205, 27, 0.8);
}

h3{
    color: #B3CC57;
}

h4{
    color: #FAB400;
}

.h-modification{
    color: #FFBE40;
}

.secondary-heading{
    color: #FA5A00;
}

p{
    font-family: Roboto B;
    color : #6A5D3B;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}