{% extends 'page.html' %}
{% load static %}

{% block head_additional %}
    <script src="{% static 'customjs/accordiontest.js'%}"></script>
{% endblock %}
{% block page_content %}
    <div id="accordion">
        <div class="accordion-item">
            <div class='d-flex border rounded bg-warning align-items-center p-2'>
                <div class="accordion-header">
                    <h5>Siapakah Agung Mubarak?</h5>
                </div>
                <div>
                    <button type="button" class="m-1 btn btn-danger sd">V</button>
                    <button type="button" class="m-1 btn btn-danger su">^</button>
                </div>
            </div>
            <div class='pl-3 accordion-content'>
                <p>
                    Saya adalah seorang mahasiswa Fasilkom UI angkatan Maung. Saya mempunyai interest di bidang game development.
                    Saya tergabung sebagai junior member dalam Gamedev Ristek UI.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class='d-flex border rounded bg-warning align-items-center p-2'>
                <div class="mr-auto accordion-header">
                    <h5>Aktivitas Saat Ini</h5>
                </div>
                <div>
                    <button type="button" class="m-1 btn btn-danger sd">V</button>
                    <button type="button" class="m-1 btn btn-danger su">^</button>
                </div>
            </div>
            <div class='pl-3 accordion-content'>
                <p>
                    Saat ini disibukkan oleh perkuliahan di Fasilkom. Saya sedang mengerjakan proyek bersama anggota Gamedev Ristek yang lain.
                    Saya juga mempunyai tanggung jawab di IMAMI UI sebagai BPH Buspart.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class='d-flex border rounded bg-warning align-items-center p-2'>
                <div class="mr-auto accordion-header">
                    <h5>Pengalaman Organisasi/Kepanitiaan</h5>
                </div>
                <div>
                    <button type="button" class="m-1 btn btn-danger sd">V</button>
                    <button type="button" class="m-1 btn btn-danger su">^</button>
                </div>
            </div>
            <div class='pl-3 accordion-content'>
                <p>
                    Sebagian besar kepanitiaan dari IMAMI UI seperti KGTK dan MCF. Sekarang lagi berfokus di Buspart
                    IMAMI UI dan Gamedev Ristek.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <div class='d-flex border rounded bg-warning align-items-center p-2'>
                <div class="mr-auto accordion-header">
                    <h5>Prestasi</h5>
                </div>
                <div>
                    <button type="button" class="m-1 btn btn-danger sd">V</button>
                    <button type="button" class="m-1 btn btn-danger su">^</button>
                </div>
            </div>
            <div class='pl-3 accordion-content'>
                <p>
                    Belum ada prestasi :( walaupun sudah mengikuti beberapa perlombaan di bidang game development.
                </p>
            </div>
        </div>
    </div>
{% endblock %}