{% extends 'page.html' %}
{% load static %}
{% block page_content %}

<div style="display: block;">
    <a href="{% url 'coursetaked:courseform' %}"><button class = 'btn btn-warning'>Add Course</button></a>
    {% if courses %}
        <br>
        <br>
        <table class="table table-striped">
            <tr>
            <th>Course Name</th>
            <th>Instructor</th>
            <th>Semester</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td><a href="{% url 'coursetaked:coursedetail' course_name=course.course_name %}">
                        {{ course.course_name }}
                    </a></td>
                    <td>{{ course.instructor }}</td>
                    <td>{{ course.semester }}</td>
                    <td><a href="{% url 'coursetaked:removecourse' course_name=course.course_name%}"><button class = 'btn btn-danger'>
                        Hapus
                    </button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

</div>
{% endblock %}