{% extends 'page.html' %}
{% load static %}
{% block page_content %}

<div style="display: block;">
    <h4>Name</h4> <p>{{ course.course_name }}</p>
    <br><br>
    <h4>Instructor</h4> <p>{{ course.instructor }}</p>
    <br><br>
    <h4>Semester</h4> <p>{{ course.semester }}</p>
    <br><br>
    <h4>Description</h4>
    <br>
    <p>{{ course.description }}</p>
    <br><br>
    <a href="{% url 'coursetaked:removecourse' course_name=course.course_name%}"><button class="btn btn-danger">
        Remove
    </button></a>
    <a href="{% url 'coursetaked:home'%}"><button class="btn btn-success">
        Back
    </button></a>
</div>

{% endblock %}