{% extends 'webframe.html' %}
{% load static %}
{% block content %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
  <div class="py-5 text-dark overlay-item">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-4 p-0"><img class="d-block img-fluid img-thumbnail mx-auto w-100" src="{% static 'images/profileedit.jpg' %}"></div>
        <div class="p-5 d-flex flex-column justify-content-center col-lg-7">
          <h3 class="display-3">“ Althought I work with my speed, that doesn’t mean i don’t work hard</h3>
        </div>
        <div class="col-md-1"><a href="{% url 'story4:work' %}"><img class="d-block img-fluid rounded-circle mx-auto" src="{% static 'images/mywork2.png' %}" width="100" height="100"></a></div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}