{% extends 'page.html' %}
{% load static %}
{% block page_content %}

<div class="p-md-4 col-lg-5 col-md-5 col-9"> <img class="img-fluid d-block" src="{% static 'images/profileedit.jpg' %}"> </div>
<div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
    <div class="row">
    <div class="col-md-12">
        <h4 class="my-3"> <b>Nama</b></h4>
        <p class="pl-3">Pewe</p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <h4 class="my-3"><b>Tempat, Tanggal Lahir</b></h4>
        <p class="pl-3">Padang Panjang, 24 September 2000</p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <h4 class="my-3"><b>Deskripsi</b></h4>
        <p class="pl-3">Seorang web programmer yang suka mempelajari hal-hal baru dan berkreasi dengan jutaan kemungkinan. Sekarang sedang menjalani pendidikan di Fakultas Ilmu Komputer Universitas Indonesia</p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <h4 class="my-3"><b>Skill</b></h4>
        <p class="pl-3">- Menguasai bahasa Java<br>- Menguasai bahasa Python<br>- Paham menggunakan Django<br>- English Fluent</p>
    </div>
    </div>
</div>

{% endblock %}