{% extends 'webframe.html' %}
{% load static %}
{% block content %}

<div class="py-5 overlay-item">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7">
          <h4>Juara 1 Webdev GEMASTIK 2019&nbsp;</h4>
          <p class="lead mb-0 ml-3">Gemastik merupakan pergelaran mahasiswa jurusan IT untuk seluruh Universitas Indonesia. Terdapat berbagai kompetisi di dalamnya. Puji tuhan, saya dengan tim saya berhasil meraih podium di kompetisi Webdev GEMASTIK</p>
        </div>
        <div class="p-0 col-lg-5"> <img class="img-fluid d-block mx-auto" src="{% static 'images/gemastik.png' %}"> </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 overlay-item2">
    <div class="container">
        <div class="row">
        <div class="p-0 col-lg-5 order-2 order-lg-1"> <img class="img-fluid d-block mx-auto" src="{% static 'images/scele.PNG' %}"> </div>
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7 order-1 order-lg-2">
            <h4 class="secondary-heading">Developer SCELE Fasilkom UI</h4>
            <p class="lead ml-3">SCELE merupakan platform digital yang menjadi wadah untuk para dosen dan mahasiswa fasilkom UI menjalani kegiatan perkuliahan. Tim kami membuat platform ini bertujuan untuk mempermudah kegiatan perkuliahan mahasiswa disana.</p>
        </div>
        </div>
    </div>
</div>
<div class="py-5 overlay-item">
    <div class="container">
        <div class="row">
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7">
            <h4>President of Webdev Ristek</h4>
            <p class="lead mb-0 ml-3">Webdev ristek merupakan sebuah spesialisasi dari sebuah organisasi penelitian di Fasilkom UI yang bernama Ristek. Spesialisasi ini berfokus pada penelitian seputar dunia web developing. Saya menjabat sabagai ketua dari spesialisasi ini.</p>
        </div>
        <div class="p-0 col-lg-5"> <img class="img-fluid d-block mx-auto" src="{% static 'images/ristek.jpg' %}"> </div>
        </div>
    </div>
</div>

{% endblock %}