{% extends 'page.html' %}
{% load static %}
{% block page_content %}

<div style="display: block;">
    <a href={{ backurl }}><button class="btn btn-success">
        Back
    </button></a>
    <br><br>
    <form action="{% url 'story9:login' backurl=backurl%}" method="POST">
        {% csrf_token %}
        {{ input_form.as_p }}
        {% if input_form.errors %}
        <p> You haven't been register? let's join our community. <span><a href="{% url 'story9:signup' username=username backurl='login' %}">Let's do signup</a></span>.</p>
        {% endif%}
        <input type="submit" value="Log in" class="btn btn-warning">
    </form>
</div>
{% endblock %}