{% extends 'page.html' %}
{% load static %}
{% block page_content %}

<div style="display: block;">
    <a href={{ backurl }} ><button class="btn btn-success">
        Back
    </button></a>
    <br><br>
    <form action="{% url 'story9:signup' backurl=backurl %}" method="POST">
        {% csrf_token %}
        {{ input_form.as_p }}
        <input type="submit" value="Sign Up" class="btn btn-warning">
    </form>
</div>
{% endblock %}