{% extends 'webframe.html' %}
{% load static %}
{% block content %}

<div class="py-5 overlay-item page-background">
    <div class="flex-container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-4">{{title}}</h1>
          {% block header %} {% endblock %}
          <br>
          <div class="row align-items-start justify-content-center px-5">
            {% block page_content %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}